# Django
Django==5.0.6
gunicorn==21.2.0
whitenoise==6.7.0
dj-database-url==2.2.0

# Database
psycopg2-binary==2.9.9

# Environment
python-decouple==3.8

# AI/LLM
groq==0.9.0
openai==1.35.0

# ML
prophet==1.1.5
scikit-learn==1.5.1
pandas==2.2.2
numpy==1.26.4

# Data fetching
pytrends==4.9.2
requests==2.32.3
newsapi-python==0.2.7

# Scheduler
apscheduler==3.11.2
django-apscheduler==0.7.0
tzlocal==5.3.1

# Utils
python-dateutil==2.9.0.post0
Pillow==10.4.0
httpx==0.27.2

celery==5.3.6
django-htmx==1.17.0